
<html>
<head>

{% load staticfiles %}
<link rel="stylesheet" type = "text/css" href=" {% static 'gbook/style.css' %}"/>
<title> Guin's Guestbook </title>
</head>

<body>

<div id = "header" class = "container">
	<h1>Guin's Guestbook</h1>
<br>
</div>

<div id= "form" class = "container">
{% block content %}
	<h2> Leave some love: </h2>

		<form method = "POST"> {% csrf_token %}
			<ul>
			{{ form.as_p }}	
			</ul>
			<button type="submit"> Submit </button>
		</form>
{% endblock content %}
</div>

<div id= "entries" class = "container">
<h2> Read some love: </h2>
{{ entry }}
{{ saved_entries }}
</div>

</body>
</html>















